.profile_image{
    background: url('../images/profile_image_small.png') no-repeat;
    width: 56px;
    height: 55px;
    display: block;
    float: left;
}
.profile_title{
    display: block;
    float: left;
    margin: 0px 15px;
}
body #headerSection .navbar .brand{
    padding: 0px 20px 5px;
}
.profile_title_owner{
    font-size: 15px;
    line-height: 13px;
}
.details_span{
    text-align: left;
}
.bengali_purohit{
    font-size: 15px;
    color: #27dc26;
}
body .my_details{
    max-width: 36%;
    left: 111px;
    background: rgba(140, 20, 0, 0.57);
}
.greha_prabesh{
    background: url('../images/puja_icons/grihaprabesh.jpg') no-repeat;
    width: 168px;
    height: 110px;
}
.satyunarayana_puja{
    background: url('../images/puja_icons/satyanarayana.png') no-repeat;
    width: 168px;
    height: 110px;
}
.uponayana_puja{
    background: url('../images/puja_icons/satyanarayana.png') no-repeat;
    width: 168px;
    height: 110px;
}
.lakxmi_puja{
    background: url('../images/puja_icons/laksmipuja.jpg') no-repeat;
    width: 168px;
    height: 110px;
}
.durga_puja{
    background: url('../images/puja_icons/durgapuja.gif') no-repeat;
    width: 168px;
    height: 110px;
}
.ganesh_puja{
    background: url('../images/puja_icons/ganeshpuja.jpg') no-repeat;
    width: 168px;
    height: 110px;
}
.marrige{
    background: url('../images/puja_icons/marrige.jpg') no-repeat;
    width: 168px;
    height: 110px;
}
.puja_type_wrapper{
    position: relative;
}
.puja_type_wrapper span{
    line-height: 9px;
    position: absolute;
    bottom: 7px;
    width: 100%;
    left: 0px;
}
.well-small{
    cursor: pointer;
}
.recent_work_wrapper .thumbnail{
    max-height: 373px;
}
.recent_work_wrapper .thumbnail img{
    height: 250;
}

.tab_view{
    margin-bottom: 25px;
    box-shadow: 0px 0px 8px #888888;
    font-size: 17px;
    line-height: 32px;
    display: inline-block;
    padding: 10px;
}
.details_header{
    font-weight: bold;
}
.mu-error-area{
    margin-top: 41px;
    background: #FFF;
    padding: 30px;
}
#bodySection .thumbnail h3, #bodySection .thumbnail h4, #bodySection .thumbnail h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px;
}
.gallary_description{
    height: 50px;
}
.gallary_pics{
   height: 200px; 
}
.hidden{
    display: none;
    visibility: hidden;
}
body .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.contact_me_message_wrapper textarea.form-control {
    height: 80px;
}
.contact_me_submit{
    margin-top: 20px;
}
.contact_me_form .form-group{
    margin: 5px 0px;
}
.contact_me_email_wrapper{
    float: left;
    width: 46%;
}
.contact_me_mobile_wrapper{
    float: right;
    width: 46%;
}

.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
/**adjust scale to desired size, 
add browser prefixes**/
-ms-transform: scale(2.5) translate3d(0,0,0) ;    
-moz-transform: scale(2.5) translate3d(0,0,0);  
-webkit-transform: scale(2.5) translate3d(0,0,0);  
-o-transform: scale(2.5) translate3d(0,0,0);  
transform: scale(2.5) translate3d(0,0,0);    
position:absolute;      
z-index:100;  
}

/**To keep upscaled images visible on mobile, 
increase left & right margins a bit**/  
@media only screen and (max-width: 768px) {   
    .portal_gallary_wrapper {      
        margin-left: 15vw;       
        margin-right: 15vw;
    }
}
